.background{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
body{
    scroll-behavior: auto;
}
#Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

.showFiles{
    display: block;
    background-color: white;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-bottom: 0.5rem;
}

a:link{
    text-decoration: none;
}

.previewImage{
    height: 3rem;
    width: 3rem;
    background-image: url(ImageAssets/fileicon.png);
}

.fileType{
    color: rgb(173, 171, 171);
    margin-right: 2.5rem;
    float: right;
    text-transform: lowercase;
    text-align: center;
}

.fileType-header{
    color: rgb(0, 0, 0);
    margin-right: 1rem;
    float: right;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.dateuploaded{
    color: rgb(173, 171, 171);
    float: right;
    margin-right: 4.8rem;
    text-transform: lowercase;
    text-align: center;
}

.dateuploaded-header{
    color: rgb(0, 0, 0);
    margin-right: 4rem;
    float: right;
    font-weight: bold;
    font-family: sans-serif;
}

.column {
    display: block;
    width: auto;
    height: 3rem;
    border-color: rgb(121, 120, 120);
    border-style:solid;
}

.columnHeader{
    display: block;
    width: auto;
    height: 2rem;
    border-color: rgb(0, 0, 0);
    border-style:solid;
}

.imageName-header{
    margin-left: 3rem;
    font-family: sans-serif;
    color: black;
    font-size: 17px;
    font-weight:bold;
    font-family: sans-serif;
}

.imageName{
    margin-left: 3rem;
    font-family: sans-serif;
    color: black;
    font-size: 17px;
}

#username{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
#logout{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

img{
    display: inline;
}

a{
    cursor: pointer;
}

.upload-button{
    float:left;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.top_navbar input{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_navbar a {
    float: right;
    color: black;
    text-align: center;
    font-size: 17px;
    padding: 15px,15px,15px,15px;

}

.top_navbar{
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;
}



