<html>
    
    <head>
        <title>Account Page</title>
        <link rel="stylesheet" href="accountmain-style.css">
        <script src="scriptFile\accountmain-script.js"></script>
        
    </head>
    <body class="background">

        <div class="top_navbar">

            <label for="logout" id="logout_button">Log out</label>
            <input hidden="hidden" type="logout" id="logout" >
            
            <a id="username"><%= userName %></a>

            <form id="form">
                <input onchange="fileSelect()" type="file" name="filetoupload" id="upload" hidden="hidden">
                <label class= "upload-button" for="upload">Choose file</label>
                <label id="filename"></label>
                <input onclick="UploadFile();return false" type="submit" id="submit" hidden>
                <label for="submit" class="upload-button" id="uploadButton">Upload</label>
                
            </form>
        </div>
        
        <div id="files" class="showFiles">
            <a class="columnHeader">
                <label class="imageName-header">Filename</label>
                <label class="fileType-header">File Type</label>
                <label class="dateuploaded-header">Date Uploaded</label>
            </a>
        </div>
        

    </body>
    <script src="./scriptFile/loadFiles.js"></script>
</html>