.background {
    /*
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    */
    background: #8299de;
}

.box-inputs {
    width: 60%;
    align-self: center;
}

.create-button{
    background-color: rgb(5, 98, 197);
    border-radius: 5px;
    color: white;
    border-color: white;
    width: 50%;
    margin-top: 1rem;
}

.title_name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

.box-labels {
    
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

.box-error {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background-color: rgb(173, 95, 95);
    padding: 0.5rem;
    font-weight:400;

}

.createaccount-grid {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;

    display: grid;
    width: 30%;

    border-radius: 50px;
    background: #f1f1f1;
    box-shadow:  26px 26px 51px #6f82bd,
                -26px -26px 51px #96b0ff;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-inline: auto;
}


#top-sign-label{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}